# /etc/systemd/system/lona.target

[Unit]
Description=Lona
Requires=multi-user.target
Conflicts=rescue.service rescue.target
After=multi-user.target rescue.service rescue.target
AllowIsolate=no

[Install]
WantedBy=multi-user.target