# /etc/systemd/system/lona-static.service

[Unit]
Description=Lona Static

[Service]
User=www-data
Type=oneshot
KillMode=process
WorkingDirectory=/srv/lona/lona-project-template/lona_project
ExecStart=/srv/lona/lona-project-template/env/bin/lona collect-static /srv/lona/static/ -s settings.py deployment_settings.py --clean

[Install]
WantedBy=lona.target
