recursive-include lona/templates/ *
recursive-include lona/static/ *
recursive-include lona/debugger/templates/ *
recursive-include lona/debugger/static/ *

global-exclude .*
global-exclude *~
global-exclude *.swp
global-exclude *.pyc
