a.icon-home img {
    max-width: 200px !important;
}

.rst-content a:not(.btn),
.rst-content a:not(.btn):active,
.rst-content a:not(.btn):visited {
    color: #2980B9 !important;
}

ul.toc-tree {
    margin-top: -1em;
    margin-bottom: 2em;
}

table.docutils {
    width: 100%;
}

.raw-setting .highlight {
    border-top: 2px solid #2881b9 !important;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 0.2em !important;
}

.raw-setting .description {
    margin-left: 2em;
}

.setting {
    float: left;
    border-top: 2px solid #2881b9 !important;
}

.setting .highlight {
    margin: 0 !important;
    padding: 12px;
}

.setting pre {
    float: left;
    font-weight: bold;
    padding: 0 !important;
    margin: 0 !important;
}

.setting-description {
    margin-top: 0.5em;
    margin-left: 2em;
    margin-bottom: 2em;
}

.setting-description p {
    margin: 0;
}

div.wy-menu.wy-menu-vertical p.caption:first-child {
    display: none;
}

div.ps-gallery {
    margin-bottom: 1.5em;
}

/* anchors ----------------------------------------------------------------- */
a.anchor {
    font-size: 80%;
}

a.anchor,
a.anchor:active,
a.anchor:visited {
    color: #BBBBBB !important;
}

a.anchor:hover {
    color: #2980B9 !important;
}

a.anchor:after {
    font-family: monospace;
    margin-left: 0.25em;
    content: '¶';
}

/* api doc ----------------------------------------------------------------- */
.api-doc {
    padding: 12px 0 0 12px;
    border: 1px solid rgb(225, 228, 229);
    background: rgb(248, 248, 248);
}

.highlight.signature {
    background-color: transparent;
    border: none !important;
    font-weight: bold;
}

.highlight.signature pre {
    padding: 0 !important;
}

.doc-string {
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,Courier,monospace;
    font-size: 12px;
    line-height: 1.4;
}

/* footer ------------------------------------------------------------------ */
#footer {
    text-align: right;
}